docs/
evaluation_results/
logs/
secrets/
secrets/*

.venv/

.idea/*
.idea/

.DS_Store

__pycache__/*
__pycache__/

app/__pycache__/*
app/__pycache__/

app/agents/__pycache__/*
app/agents/__pycache__/

config/__pycache__/*
config/__pycache__/

fine_tune/__pycache__/*
fine_tune/__pycache__

fine_tune/training_data/*
fine_tune/training_data/

streamlit/__pycache__/*
streamlit/__pycache__/


data/chroma_db/
streamlit/data/chroma_db/*

# Database files
data/*.db
data/tech_interviews.db
*.db

app/agents/__pycache__/*
app/agents/prompts/__pycache__/
app/agents/**/__pycache__/

